.record-index-container{
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
  background: #fff;
  border: 3px solid #ddd;
  border-top: none;
  font-size: 0.85rem;
  & h3{
    text-align: center;
  }
  & table{
    box-sizing: border-box;
    & .image{
      width: 67px;
      text-align: center;
    }
    & .name{
      width: 188px;
      text-align: center;
    }
    & .kcal{
      width: 80px;
    }
    & .protein{
      width: 93px;
    }
    & .fat{
      width: 64px;
    }
    & .carb{
      width: 81px;
    }
    & .salt{
      width: 56px;
    }
    & .date{
      width: 123px;
      text-align: center;
    }
    & .detail, .delete{
      width: 88px;
      text-align: center;
    }
    & .add-list{
      width: 162px;
      text-align: center;
    }
    & thead{
      display: block;
      text-align: center;
    }
    & tbody{
      display: block;
      max-height: 80vh;
      overflow: scroll;
      &::-webkit-scrollbar{
        display: none;
      }
      & img{
        width: 40px;
        height: auto;
      }
      & td{
        text-align: right;
        line-height: 35px;
        & .nolist{
          text-align: center;
        }
      }
    }
  }
}
